spring:
  datasource:
    url: jdbc:p6spy:h2:~/test;MODE=MySQL
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    username: sa
    password: ""
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  kafka:
    producer:
      bootstrap-servers:
        - localhost:29092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
logging:
  level:
    p6spy: info

decorator:
  datasource:
    p6spy:
      multiline: true

cors:
  allow-methods : ['GET', 'POST', 'PUT', 'DELETE']
  allow-origins : ['http://localhost:3000']

